hr{
border: dotted #FEFAE0 12px;
border-bottom: none;
width: 4%;
margin: 100px auto;
}
hr:hover {
  border: dotted #BC6C25 12px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

li{
  font-weight: bold;
  color: #283618;
  line-height: 2;
}


body {
  background-color:#FFCCE5;
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}


h3{
  font-family: 'Montserrat', sans-serif;
}
h2{
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: #606C38;
  font-size: 4rem;
  width: 20%;
  margin: 0 auto;
  font-family: 'Sacramento', cursive;
}

.top-container {

  position: relative;
  padding-top: 150px;

}

.pro {
  background-color: black;
  color: white;
  display: inline;
  position: absolute;
}

.top-ufo {
width:150px;
height: 110px;
position: absolute;
right:300px;
top:50px;
}

.mid-ufo {
  width:160px;
  height: 120px;
  position: fixed;
  left:200px;
  top: 30px;
}
.bottom-ufo {
  width:250px;
  height: 200px;
  position: absolute;
  left:300px;
  bottom: 300px;

}
.land {
  width:1200px;
  height: 800px;
  /* position: absolute; */
}
.icons {
  border-radius: 50%;
  background-color: white;
}
.icon1{
  margin-right: 30px;
  width: 25%;
  float:left;
}
.icon2{
  float:right;
  width:25%;
  margin-left: 30px;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}
.contact-me{
  width: 40%;
  margin: 40px auto 60px;
}

.intro{
  width: 40%;
  margin: auto;
  font-weight: bolder;
  color: #606C38;
}

.btn {
  background: #283618;
  background-image: -webkit-linear-gradient(top, #d7dee3, #808080);
  background-image: -moz-linear-gradient(top, #d7dee3, #808080);
  background-image: -ms-linear-gradient(top, #d7dee3, #808080);
  background-image: -o-linear-gradient(top, #d7dee3, #808080);
  background-image: linear-gradient(to bottom, #d7dee3, #808080);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Merriweather', serif;
  color: #ffffff;
  font-size: 33px;
  border: solid #1f628d 12px;
  text-decoration: none;
}
.btn:hover {
  background: #464e52;
  background-image: -webkit-linear-gradient(top, #464e52, #dae1e6);
  background-image: -moz-linear-gradient(top, #464e52, #dae1e6);
  background-image: -ms-linear-gradient(top, #464e52, #dae1e6);
  background-image: -o-linear-gradient(top, #464e52, #dae1e6);
  background-image: linear-gradient(to bottom, #464e52, #dae1e6);
  text-decoration: none;
}

a {
  text-decoration: none;
}
a:hover {
  color: red;
}
.copyright {
  color:gray;
  padding: 20 0;
  margin: 20px 0;
  font-size: 0.7rem;
}
.bottom-container {
  background-color: white;
}
